$primary-font: 'Montserrat', sans-serif;
$second-font: 'Crimson Text', serif;
$third-font: 'Amsdam', sans-serif;
$first-color: #fff;
$second-color: #d8d8d8;
$first-text-color: #3e3d3d;
$second-text-color: #949494;
$menu-color: #aaa;





